<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conference Rooms</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
  <script> src = "https://unpkg.com/naive-ui" ></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://unpkg.com/naive-ui/dist/style.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

  <div id="app">
    <h1 style="color: blue;">Conference Rooms</h1>
    <transition-group name="list1">
      <table class="table-style">
        <thead>
          <tr>
            <th>Room Name</th>
            <th>Department</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Max Duration</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="room in rooms" :key="room.id">
            <td>{{ room.name }}</td>
            <td>{{ room.department }}</td>
            <td>{{ room.type }}</td>
            <td>{{ room.location }}</td>
            <td>{{ room.date }}</td>
            <td>{{ room.startTime }}</td>
            <td>{{ room.endTime }}</td>
            <td>{{ convertToDuration(room.capacity) }}</td>
            <td><button @click="deleteRoom(room.id)">Delete</button>
              <br><button @click="editing(room.id)">Edit</button>
            </td>

          </tr>
        </tbody>
      </table>
    </transition-group>

    <n-button @click="adding" id="showbtn" type="info" round>
      {{btnText}}
    </n-button>
    <transition name="fade">
      <div v-if="showForm" class="form0">
        <n-form @submit.prevent="addRoom">
          <h2 style="color: slateblue;"> {{formTitle}} </h2>
          <label class="form-item">
            Room Name:
            <n-input v-model:value="newRoom.name" size="small" placeholder="Input Name" autosize
              style="min-width: 50%"></n-input>
          </label>
          <!-- Type Selection -->
          <label class="form-item">Type:
            <label>
              <input type="radio" name="answer" value="small" v-model="newRoom.type">Small
            </label>

            <label>
              <input type="radio" name="answer" value="medium" v-model="newRoom.type">Medium
            </label>

            <label>
              <input type="radio" name="answer" value="big" v-model="newRoom.type">Big
            </label>
          </label>
          <!-- Department Input -->
          <label for="department" class="form-item">Department:
            <n-input type="text" size="small" autosize style="min-width: 50%" id="department" name="department" value-format="HH:mm"
              placeholder="Input Department" v-model:value="newRoom.department"></n-input>
          </label>
          <!-- Date Selection -->
          <label space for="date" class="form-item" autosize>
            <!-- <input type="date" id="date" name="date" v-model="newRoom.date"> -->
            <n-date-picker type="date" v-model:formatted-value="newRoom.date" autosize />
            <!-- <pre>{{ JSON.stringify(timestamp) }}</pre> -->
          </label>

          <!-- Start Time Selection -->
          <n-space>
            From:
            <n-time-picker for="startTime" class="form-item" size="small"  placeholder="start" value-format="HH:mm"
              v-model:formatted-value="newRoom.startTime"></n-time-picker>

            To

            <!-- End Time Selection -->
            <n-time-picker class="form-item" size="small"  placeholder="end" v-model:formatted-value="newRoom.endTime"  value-format="HH:mm">
            </n-time-picker>
        </n-space>
          
        </n-time-picker>
          <!-- Location Selection -->
          <n-input-group>
            Position  :
            <n-select id=" building" name="building" style=" width : 150px" size="small" v-model:value="newRoom.l1"
              :options="options1">
              </n-select>
              <n-input id="room" name="room" v-model:value="newRoom.l2" style=" width : 120px" size="small"></n-input>
              </n-input-group>
              <div class="form-item"></div>

              <!-- <label for="building" class="form-item">Building:
          <select id="building" name="building" v-model="newRoom.l1">
              <option value="Teaching Building No.1">Teaching Building No.1</option>
              <option value="Lecture Hall">Lecture Hall</option>
              <option value="Research Building">Research Building</option>
              <option value="Library">Library</option>
              <option value="South Building">South Building</option>
          </select>
          <label for="room"> </label>
          <input id="room" name="room" v-model="newRoom.l2">
        </input>
        </label> -->
              <!-- Max Duration Input -->
              <n-space style="display: flex;" class="form-item" autosize>Max Duration:
                <label for="maxDuration" autosize>
                  <!-- <input type="number" id="maxDuration" name="maxDuration" min="0" v-model="newRoom.capacity"> -->
                  <n-input-number v-model:value="newRoom.capacity" :min="0" size="small"></n-input>
                </label></n-space>
              <button type="submit">Submit</button>
        </n-form>

      </div>
    </transition>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="https://unpkg.com/naive-ui"></script>
  <script>
  const app =
      Vue.createApp({
        data() {
          return {
            options1: [
              { value: "Teaching Building No.1", label: "Teaching Building No.1" },
              { value: "Lecture Hall", label: "Lecture Hall" },
              { value: "Research Building", label: "Research Building" },
              { value: "Library", label: "Library" },
              { value: "South Building", label: "South Building" }
            ],

            timestamp: Vue.ref(168619596e4),
            rooms: [
              {
                id: 1, name: "Room A", capacity: 10,
                type: "small", department: "Computer Science",
                date: "2023-09-01", location: "South Building\n426A",
                startTime: "08:00", endTime: "20:00",
                l1: "South Building", l2: "426A"
              },
              {
                id: 2, name: "Room B", capacity: 20,
                type: "big", department: "Electrical",
                date: "2023-09-14", location: "South Building\n434A",
                startTime: "00:00", endTime: "22:00",
                l1: "South Building", l2: "434A"
              },
            ],
            newRoom: {
              name: "",
              capacity: 0,
              type: "",
              department: "",
              date: undefined,
              l1: "",
              l2: "",
              startTime: undefined,
              endTime: undefined
            },
            showForm: false,
            formTitle: "Add New Conference",
            nowId: 0,
            isAdd: true,
          };
        },
        computed: {
          convertToDuration() {
            return function (x) {
              const hours = x % 24;
              const days = Math.floor(x / 24);

              if (days > 0) {
                if (hours > 0) {
                  return `${days}d ${hours}h`;
                } else {
                  return `${days}d`;
                }
              } else {
                return `${hours}h`;
              }
            };
          },
          needShow() {
            return this.isAdd ? (!this.showForm) : true;
          },
          btnText() {
            return this.needShow ? "Add Room" : "Cancel";
          }
        },
        methods: {
          addRoom() {
            if (this.isValid(this.newRoom)) {
              const newId = this.rooms.length ? this.rooms[this.rooms.length - 1].id + 1 : 1;
              const roomData = {
                id: this.isAdd ? newId : this.nowId,
                name: this.newRoom.name,
                capacity: this.newRoom.capacity,
                type: this.newRoom.type,
                department: this.newRoom.department,
                date: this.newRoom.date,
                location: this.newRoom.l1 + '\n' + this.newRoom.l2,
                startTime: this.newRoom.startTime,
                endTime: this.newRoom.endTime,
                l1: this.newRoom.l1,
                l2: this.newRoom.l2,
              };

              if (this.isAdd) {
                // 如果传入的是 true，把房间添加到数组里
                this.rooms.push(roomData);
              } else {
                // 否则，找到现有的房间并进行修改
                const index = this.rooms.findIndex(room => room.id === this.nowId);
                if (index !== -1) {
                  this.rooms[index] = roomData;
                }
              }
              this.showForm = false;
            }
            else {
              if (!this.vaTime()) alert("Time is not valid!");
              else alert("Please input non-null values!");
            }
          },
          clearRoom() {
            this.newRoom.name = "";
            this.newRoom.capacity = 0;
            this.newRoom.type = "";
            this.newRoom.department = "";
            this.newRoom.date = undefined;
            this.newRoom.l1 = "";
            this.newRoom.l2 = "";
            this.newRoom.startTime = undefined;
            this.newRoom.endTime = undefined;
          },
          adding() {
            this.formTitle = "Add New Conference";
            console.log(this.needShow);
            this.showForm = this.needShow;
            this.isAdd = true;
            this.clearRoom();
            app.use(naive)
            app.mount()
          },
          editing(id) {
            this.formTitle = "Edit Conference";
            for (let key in this.newRoom) {
              this.newRoom[key] = this.rooms.find(room => room.id === id)[key];
            }
            this.showForm = this.isAdd || this.nowId !== id
              ? true : !this.showForm;
            this.nowId = id;
            this.isAdd = false;
          },
          deleteRoom(id) {
            this.rooms = this.rooms.filter(room => room.id !== id);
          },
          isNameValid(name) {
            const regex = /^\s*$/;
            return !regex.test(name);
          },
          isValid(room) {
            if (!this.isNameValid(room.name)) return false;
            if (!this.vaTime()) return false;
            return !this.checkNullValuesInProxy(room);
          },
          checkNullValuesInProxy(proxy) {
            console.log(proxy);
            const keys = Reflect.ownKeys(proxy);

            for (let key of keys) {
              const value = Reflect.get(proxy, key);

              app.use(naive)
              app.mount()
              if (value === null || value === undefined || value === '') {
                return true; // 发现空值
              }

              // 如果值本身是一个对象或者数组，递归检查
              if (typeof value === 'object' && value !== null) {
                if (checkNullValuesInProxy(value)) {
                  return true; // 发现内部对象或数组中有空值
                }
              }
            }

            return false; // 没有发现空值
          },
          validateTime() {
            const startTime = new Date(`1970-01-01T${this.newRoom.startTime}`);
            const endTime = new Date(`1970-01-01T${this.newRoom.endTime}`);
            if (endTime < startTime) {
              alert("The end time cannot be earlier than the start time. Please choose again.");
              this.newRoom.endTime = this.newRoom.startTime;
            }
          },
          validateTime2() {
            if (this.newRoom.endTime === undefined || this.newRoom.endTime === '')
              return;
            const startTime = new Date(`1970-01-01T${this.newRoom.startTime}`);
            const endTime = new Date(`1970-01-01T${this.newRoom.endTime}`);
            if (endTime < startTime) {
              alert("The end time cannot be earlier than the start time. Please choose again.");
              this.newRoom.startTime = this.newRoom.endTime;
            }
          },
          vaTime() {
            if (this.newRoom.endTime === undefined || this.newRoom.endTime === '') return true;
            const startTime = new Date(`1970-01-01T${this.newRoom.startTime}`);
            const endTime = new Date(`1970-01-01T${this.newRoom.endTime}`);
            if (endTime < startTime) {
              return false;
            }
            return true;
          },
        },
      })
    app.use(naive)
    app.mount('#app')
  </script>